
@font-face {
    font-family: "Days Sans Black";
    src: url("fonts/Days Sans Black.otf");
}
@font-face {
    font-family: "Asap";
    src: url("fonts/asap.bold.otf");
}
    
body {
    background:#222;
    color:white;
    font-family:Arial;
    text-align:center;
}


.container {
    display:flex;
    justify-content:center;
    gap:40px;
}


.controls {
    width:300px;
}


input,select,textarea {
    width:90%;
    margin:5px;
    padding:8px;
}


textarea {
    height:100px;
}



#card {

    position:relative;

    width:500px;
    height:700px;

}



.layer,
#art {

    position:absolute;

    width:100%;
    height:100%;

    left:0;
    top:0;

}


#manaText {
    position: absolute;

    left: 63px;
    top: 65px;

    width: 70px;
    height: 50px;

    transform: translate(-50%, -50%);

    font-family: "Days Sans Black", sans-serif;
    font-size: 37px;
    font-weight: bold;

    color: white;

    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
}

#nameText {
    position: absolute;

    left: 250px;
    top: 64px;

    width: 350px;
    height: 50px;

    transform: translate(-50%, -50%);

    font-family: "Asap", sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: white;

    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
}

#typeText {

position:absolute;

top:150px;
width:100%;

font-size:22px;

}



#abilityText {

position:absolute;

bottom:100px;

width:80%;
left:10%;

font-size:22px;

}



#attackText {
    position: absolute;

    left: 67px;
    top: 877px;

    width: 145px;
    height: 145px;

    text-align: center;

    font-size: 40px;
    font-weight: bold;

    overflow: hidden;
    white-space: nowrap;
}


#healthText {

position:absolute;

bottom:40px;
right:80px;

font-size:40px;
font-weight:bold;

}



#sparkText {

position:absolute;

bottom:40px;

left:220px;

font-size:35px;

}

